In [147]:
x = 20
y = 30

print("this is x value = ", x, "and y value is  =  ", y)
print("this is x {0}   and  y {1}".format("george", y))
print(f"this is x = {x}   and  y = {y}")

this is x value =  20 and y value is  =   30
this is x george   and  y 30
this is x = 20   and  y = 30

In [148]:
name  = "samir gamal"
course_name = "AI"
id = "123"
print(f"my name is {name} and i study now {course_name} course \nfrom DEPI and my id is {id}")

my name is samir gamal and i study now AI course
from DEPI and my id is 123

In [149]:
x = True
print(type(x))

<class 'bool'>

In [150]:
name = "Depi R4"
name[0:4:2]

'Dp'

In [151]:
name = "welcome into depi r4"
upper_txt = name.upper()
print(upper_txt)

WELCOME INTO DEPI R4

In [152]:
lower_txt = upper_txt.lower()
lower_txt

'welcome into depi r4'

In [153]:
name = "welcome into depi r4 r4"
list_1 = name.split()
list_1

['welcome', 'into', 'depi', 'r4', 'r4']

In [154]:
print(type(list_1))

<class 'list'>

In [155]:
sent =' '.join(list_1)
type(sent)

str

In [156]:
sent.endswith("welcome")

False

In [157]:
print("welcome into\b \"our\" group")

welcome int "our" group

In [158]:
x = 5,5
list(x)

[5, 5]

In [159]:
def get_info(name ="amit", age = 30):
    
    return f"my name is {name} and my age {age}"

In [160]:
get_info()

'my name is amit and my age 30'

In [161]:
def std_info(name , age ):
    
    return name, age

In [162]:
lambda x : x+10

In [163]:
fun_1 =lambda x : x+10
type(fun_1)
# fun_1(10)

function

In [164]:
def info():
    return f"hello"

In [165]:
info

In [166]:
list_1 = [1,2,3,"depi","learning",True,[1,2,3,"true",['ds','ml','genai']]]

In [167]:
list_1[6][4][2] ="Agentic AI"

In [168]:
list_one = ["DEPI","Learning","ml"]
list_one.append("dl")

In [169]:
list_one.insert(0,"genAI")

In [170]:
list_one

['genAI', 'DEPI', 'Learning', 'ml', 'dl']

In [171]:
list_1= [1,2,3]
list_2 =[4,5,6]
x = list_1 + list_2

In [172]:
list_1.extend(list_2)

In [173]:
list_1

[1, 2, 3, 4, 5, 6]

In [174]:
list_one = ["DEPI","Learning","learning","ml"]
x = list_one.remove("DEPI")
print(x)

None

In [175]:
list_one = ["DEPI","Learning","learning","ml"]
x = list_one.pop(0)
print(x)

DEPI

In [176]:
list_one = ["DEPI","Learning","learning","ml"]
del list_one

In [177]:
name  = input("enter your name ")
id = input("enter your id ")

print(f"your name is{name}, and your id is {id}")

your name issamir, and your id is 123

In [178]:
list_3 =[20,10,4,2,50]
list_3.sort()

In [179]:
list_3

[2, 4, 10, 20, 50]

In [180]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.difference(set_2)

{1, 2}

In [181]:
dict_1 = {"key_1":12.5,"key2":"DEPI"}
dict_1["key_1"] = 50
dict_1

{'key_1': 50, 'key2': 'DEPI'}

In [182]:
items = [('a',1),('b',2),('c',3)]
dict_new = dict(items)
print(dict_new)

{'a': 1, 'b': 2, 'c': 3}

In [183]:
num=int( input("enter your value"))
type(num)

int

In [184]:
5/2

2.5

In [185]:
2 >= 2

True

In [186]:
a =3
b = 5

a is not b

True

In [187]:
a  = 200
b  = 33

if b > a :
    print("b is greater than a ")
elif a == b:
    print("a and b are equal")
else:
    print("b is not greater than a")

b is not greater than a

In [189]:
x = 5
result = "Even" if x % 2 == 0 else "odd"
print(result)

odd

In [190]:
a = 10 
b = 5
result = a + b if a>b else a-b

print(result)

15

In [192]:
for i in range(10):
    print(i,"ml")
else:
    print("finished")

0 ml
1 ml
2 ml
3 ml
4 ml
5 ml
6 ml
7 ml
8 ml
9 ml
finished

In [193]:
for i in range(6):
    if i == 3:
        break
    print(i)

0
1
2

In [194]:
if x > 3 :
    pass

In [195]:
x = 6 
while x>0:
    print("hello")
    x -=1

hello
hello
hello
hello
hello
hello